/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/


/* !!! - важно выбирать осмысленные и информативные названия 
- тут было максимально понятно что к чему,
с вашим предложеним хрен терь поймешь что к чему,
вот будет у вас с 10-к fadeIn ов ищите потом нужный какой там х2 а како х5,
и теперь противоречити прошлым замечаниям с неймингом слов для нескольких
слов писать через дифис 
список узконаправленныых терминов для анимации в студию паожалуйста,
чувствую я не попаду в ваши представлекния по осмысленности
*/
@keyframes zoom-in {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.25);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
     opacity: 1;
  }
}