/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/*  !!!! 071225_ -10- Для оптимизации и упрощения поддержки 
рекомендуется использовать общий класс, например, .button
-12- Пожалуйста, учтите, что настройки вариативных
 шрифтов должны быть указаны в свойстве font-variation-settings.
 -все выполнено - в чем проблема то?!
 неужели так трудно объяснить чего хотите?
 когда ссылаетесь на предыдущие итерации делайте цитаты или ссылки,
 и так не понятно написано в чем ошибка так еще и надо искать, как она
 не ясно была описана в прошлой итерации,
 я не могу принять данные замечания - они второй раз 
 указывают в пустоту - может вам и очевидно - 
 но нет - строки 10  и 12 = пусты
 речь про управление шрифтами - я все возможные механизмы ввел!

 29 - Рекомендуется выбирать классы, которые наиболее 
 точно отражают содержимое и функциональность элемента или блока.
 - тоже замечание в воздух пройтись по файлу и переименовать, не пойми что
 в не пойми что - но другое, я не телепат - модефикаторы названы понятно,
 а изменение их на данном этапе привлечет к поломкам, тк ползать
 и править все мнимые буквы приведет к утере связей.
 - можно мне помочь с написанием кода
 и научить не допускать ошибок влиящих на работу - а не докапываться
  до цвета букв?

*/

/* -Необходимо вынести все общие стили, чтобы не дублировать 
их для каждой кнопки.
Эффект наведения тоже являются общим для трех кнопок.
 Псевдоэлемент, который выполняет эту роль, тоже общий для всех.
 
 - очередной бдсм прикол - ради трех кнопок, создавать свойство и 
 прописывать его в восьми карточках - это точно оптимизация - 
 явно не для мня
 - я прошолся по всем кнопкам - дубликаты, не являются дубликатами
 это взвешенное применение инструмента в конкретном месте для 
 конкретного случия, что предотварщает появление неожиданных 
 поломок на другой стороне кода, когда вносишь очевидное исправление
 в конкретном месте */
.page {
  /* ??? 13- настройки вариативных шрифтов должны быть = к чему это?? тут нет такого шрифта еще несколько атрибутов вниз... */
  margin: 0 auto;
  min-inline-size: 375px;
  min-block-size: 100dvb;
  font-family: var(--action-font), sans-serif;
  /* ??? 17-предусмотреть запасные значения = о чем - какие альтернативы - добавлен же подстраховочный шрифт*/
  background-image: var(--cover-gradient); /*фоновая кртнка*/
  background-repeat: no-repeat; /*Свйство - упрвлт пвтрм фнвго избржния. По умлчнию = repeat*/
  background-position: center; /*упрвлть плжнем фнвй кртнки внтри элмнта.
  по центру по горизонтали и вертикали*/
  background-size: cover; /* изменять размер фонового изображения: 
  избржние бдт обрзтся ппдая за грнцы экрна*/
  background-attachment: fixed; /* Свйство опрдлт бдт ли фон пркрчвться вмсте со стрнцей 
  или бдт зфксрвн на однм мсте. испльзтся для эффкта параллакса.*/
}

.header {
  display: flex;
  width: var(--ultimate-block-with); 
  /*удалил, но не принимаю такой подход - 
  отсутствие границ - ведет к 
  хаосу - тут нету реальной причины под
  динамическое наполнение текстом, будет другой текст - будет другой код
  так какая разница когда его переписывать?
  поменяется размер текста - изменится и дизайн,
  тк это все равно повлияет на восприятие материала, и нужны будут правки
  для лучшего восприятия,
  не хочу думать что было в голове у дезайнера,
  у меня другоек видение - будет меньше текста,
  останется ровно столько свободного пространства
  сколько требуется чтобы донести глубокую идею,
  и потом кто сказал что может быть меньше текства -но ведь может и не быть...
  это как покупать одежду на вырост, потратитьс силы на поиск, заплатить больше из расчета
  псевдо экономии в перспективе, и потом ходить мучиться, портить здаровье, да и
   не красиво выглядит это, а в результате к тому времени когда дорастешь до нее
   вещь уже выйдет из моды, обветжает, надоести, или вообще не доживет до этого часа.*/
  margin: 100px auto 0px;
  background-color: var(--card-color);
  border: var(--border-line);
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.logo-title {
  margin: clamp(7.625rem, 7.4489rem + 0.7512vw, 8.125rem) auto 0px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
}

.logo-subtitle {
    font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    margin: 0px auto clamp(7.625rem, 7.4489rem + 0.7512vw, 8.125rem);
    text-transform: uppercase;
}

.cards {
  margin: 97px auto 0;
  display: flex;
  flex-direction: column;
  gap: 49px;
}
/*я не знаю как задать карты кроме как делать их уникальными
в макете карточки имеют уникальные отступы, что больше выглядит как опечатка
при этом высоту карточек мы не ограничиваем, а это в сочетание приводит
к накоплению погрешности и огромному разбросу в финальной карточке*/
.card {
  margin: 0px auto;
  width: var(--ultimate-block-with);
  background-color: var(--card-color);
  border: var(--border-line);
}

.correction {
  margin-top: 4px;
}

.card__title {
  margin: 4px 10px 3px;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' 715; /*смысл этого параметра в данной модели - тут нет характеристик для раельизации */
  white-space: pre;
  font-size: 18px;
  line-height: 1.25em;
  letter-spacing: 0;
}

.card__picture {
  position: relative;
  justify-self: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;;
}

.card__picture_image {
  position: relative;
  min-width: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
  height: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  object-fit: cover;
  object-position: center;
  background-color: black;
}

.blur {
  filter: blur(0.2rem);
}

.grayscale {
  filter: grayscale(0.8);
}

.saturate {
  filter: saturate(500%);
}

.hue-rotate {
  filter: hue-rotate(40deg);
}

.invert {
  filter: invert(0.7);
}

.sepia {
  filter: sepia(80%);
}

.multy {
  filter: hue-rotate(90deg) saturate(500%) opacity(70%) grayscale(0.8);
}

.label {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 5;
  -webkit-text-stroke: 1px var(--lable-overline-color);
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
  opacity: 50%;
  mix-blend-mode: hard-light;
}

@supports (
  (-webkit-text-stroke: 1px var(--lable-overline-color)) or
    (text-stroke: 1px #ffffff)
) {
  .label {
    -webkit-text-stroke: 1px #ffffff;
   text-stroke: 1px #ffffff;
    text-shadow: none;
  }
}

@supports not (
  (-webkit-text-stroke: 1px #ffffff) or
   (text-stroke: 1px #ffffff)
) {
  .label {
    text-shadow: 1px 1px 0 #ffffff,
      -1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
      1px -1px 0 #ffffff;
  }
}

/* 152 -Опечатка в названии класса. 
Используйте более корректное слово. = о чем речь???*/
.card__text {
  margin: 22px 25px 0px;
}

.card__memory-text {
  margin: 25px 25px 0px;
}

.card__base-text {
  font-family: var(--main-font), sans-serif;
  white-space: pre;
  font-weight: 410;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0;
}

/* - Классы .card__memory-text .card__text обладают общими стилями. 
Текст визуально в макете не отличается. 
Нужен общий класс. 
- и на кой цвет множить бесполезные классы?
чем это выигрывает? так по одному классу на объект
с четким определением,
а теперь мне нужно будет не ошибиться везде прицепить доп
класс, еще и назвпние сейчас не понравиться....*/
.card__interactive-block {
  margin: 25px 25px 25px;
  display: flex;
  flex-direction: row;
  justify-self: end;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
/*идите к черту со своей толлерантностью 
если это иконка сердца - я и называю ее сердце
*?/

/* >>>>>>>>>>>>>>>>>> кнопка Like <<<<<<<<<<<<<<<<<<<<<<< */

.card__icon-button {
  position: relative;
  width: 37px;
  height: 34px;
  background-color: white;
  border: none;
  outline: 2px solid transparent;
  transition: outline 0.3s ease;
}
/* -тут нельзя подменить часть за счет .button*/

/*~~~~~~~~~~~~~~~~~~~~~ анимация сердца ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


.contour {
transition: fill 0.1s linear 0s;
}

.main-body {
transition: fill 0.3s linear 0s;
}

.core {
transition: fill 0.3s linear 0.03s;
}

.sparks {
  opacity: 0;
}


.like-icon:hover .core {
fill: black;
transition-delay: 0s;
}
.like-icon:hover .main-body {
fill: black;
transition-delay: 0.05s;
}

.like-icon:active .core {
fill: rgb(255, 0, 0);
transition-delay: 0s;
}

.like-icon:active .main-body {
fill: rgb(253, 0, 0);
transition-delay: 0.05s;
}


.like-icon.is-liked .core {
transition: fill 0.3s linear 0s;
fill: red;
}

.like-icon.is-liked .main-body {
transition: fill 0.3s linear 0.05s;
fill: red;
}

.like-icon.is-liked .contour {
transition: fill 0.3s linear 0.06s;
fill: red;
}

.like-icon.is-liked {
  animation: zoom-in 0.3s 0.1s ease-in 1;
}

.like-icon.is-liked .sparks {
  animation: fade-in 0.3s 0.3s ease-in 1;
}

/*~~~~~~~~~~~~~~~~~~~~~ анимация сердца end~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.like-icon {
  position: absolute;
  top: -3px;
  left: 0px;
  width: 37px;
  height: 40px;
}
/*нет возможности реализовать через флекс у иконка пропадает
возможность менять размер
*/

.card__icon-button:focus:focus-visible {
  outline: 2px solid black;
}

.card__like-button {
  transition: 0.3s ease;
  position: relative;
  width: 130px;
  height: 38px;
}

.card__like-button:focus:focus-visible {
outline: none;
box-shadow: 2px 2px 0px 0px rgb(0 0 0 / 0.6);
transition: 0.3s ease;
}

.card__like-button::before {
  content: "";
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 130px;
  height: 38px;
  background-color: black;
  translate: -100% 0%;
  transition: translate 0.5s ease-in-out;
}

.card__like-button:hover::before {
  translate: 0% 0%;
}



/*-----------------подвал - которого нет --------------------*/

/* >>>>>>>>>>>>>>>>>> кнопка СОХРАНИТЬ НА ПАМЯТЬ <<<<<<<<<<<< */
.button {
  cursor: pointer;
  position: relative;
  background-color: var(--button-color);
  border: var(--button-border-line);
  overflow: hidden;
}
/* -Для оптимизации и упрощения поддержки рекомендуется использовать 
общий класс, например, .button,
-ну вот и что не так - вот вынес же?!
*/


.button__text {
  position: absolute;
  top: 32%;
  left: 0;
  right: 0;
  z-index: 25;
  mix-blend-mode: difference;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  letter-spacing: 0;
}

.save-icon {
  mix-blend-mode: difference;
  fill: #ffffff;
  color: white;
  z-index: 30;
   width: 27px;
    height: 27px;
}

.save-button {
  margin: 49px auto 100px;
  display: flex;
  flex-wrap: wrap;
  width: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
  height: clamp(5.25rem, 5.8882rem + -2.723vw, 3.4375rem);
  gap: 10px;
  justify-content: center;
  align-content: center;
  align-items: center;
  overflow: hidden;
}
/* -Будет хорошим решением, если размер кнопки на промежуточных 
разрешениях не будет менять свои размеры, оставаясь в согласии с макетом.
-мерт, определитесь уже, то резиновость давайте -
"вдруг текст поменяется" - то лучше не меняйте... почему я вечно должен
отгадывать где нам нужна резина, а где нет.
дизайнер вообще рисовал цветные панельки, а не мечтал
их тянуть во все стороны */

.save-text {
  z-index: 25;
  mix-blend-mode: difference;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  letter-spacing: 0;
}
/* совсем не похоже с button-text у них разный набор свойств
тк работают при разных условиях, в то время как
баттон описывет полноценный текст в кнопке учитывае влияние на него
текст в сохронялке находится на одном уровне с иконкой и 
работает иначе*/

.save-button:focus:focus-visible {
outline: none;
box-shadow: 2px 2px 0px 0px rgb(0 0 0 / 0.6);
transition: 0.3s ease;
}

.save-button::before {
  content: "";
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  translate: -100% 0%;
  transition: translate 0.5s ease-in-out;
}

.save-button:hover::before {
  translate: 0% 0%;
}

.dialog-frame {
  position: fixed;
  max-width: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  width: 100%;
  outline: none;
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(0, 0, 0, 1);
}

.dialog-block {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/*Диалог должен всегда находится по центру.  - и как же это сделать?*/

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.message {
  margin: 13px auto 0;
  display: flex;
  flex-direction: row;
  gap: 23px;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
  text-transform: uppercase;
}
/* -491 https://disk.yandex.com/i/RXDaUWbrByXMlw
Расположение иконки внутри блока отличается от макета.
я не понимаю как вы смотрите у меня все четко.
смотрите приложенную вами картинку - считайте теперь ее моей
под стрелками указаны места которыея имеют правильные отступы
 */

.dialog-text {
  white-space: pre;
  text-transform: uppercase;
}

/* >>>>>>>>>>>>>>>>>>>>>>> кнопка ОК <<<<<<<<<<<<<<<<<<<<< */

.dialog__button {
  margin: 0 auto 10px;
  width: clamp(16.3125rem, 15.6083rem + 3.0047vw, 18.3125rem);
  height: 38px;
  text-transform: uppercase;
}
/* -Согласно макету, некоторые элементы должны содержать текст, 
который выполнен заглавными буквами.
-куда еще воткнуть заглавные? я не понимаю в чем проблема
позиция не указана где не тот шрифт,
с макетом совпадает - какая разница как задачка решена?
и потом CUPS - не вежливо! */

.dialog__button:focus:focus-visible {
outline: none;
box-shadow: 2px 2px 0px 0px rgb(0 0 0 / 0.6);
transition: 0.3s ease;
}

.dialog__button::before {
  content: "";
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 38px;
  background-color: black;
  translate: -100% 0%;
  transition: translate 0.5s ease-in-out;
}

.dialog__button:hover::before {
  translate: 0% 0%;
}

.floppy-icon {
    width: 21px;
    height: 21px;
  }

@media (376px < width) {
  .card__title {
    white-space: normal;
  }

  .card__text {
    white-space: normal;
  }

  .card__memory-text {
    white-space: normal;
  }
}

@media (1439px < width) {
  .save-button {
    height: 55px;
  }

 .save-icon {
   width: 21px;
    height: 21px;
}
  }



